#banner-section {
    padding: 0rem 2.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 6.3rem;
}

#banner-section > img{
    max-width: 100%;
}

#banner__text-container {
    height: 27.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

