#about-me-section {
    padding-top: 9.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

#about-me-section > :first-child {
    min-width: 30%;
}

@media (min-width: 768px){
    #about-me-section {
        flex-wrap: nowrap;
    }

    #about-me-section >h2 {
        width: 100rem;
    }
}