#root > header {
    height: 17.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#root > header > nav > ul {
    width: 25.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > button {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    background-color: var(--color-primary);
    padding: 1.1rem 0rem;
    width: 11.4rem;
    font: var(--paragraph);
    border-radius: var(--radius-small);
}

header > nav > button:hover {
    background-color: var(--color-primary-hover);
}

@media (min-width: 768px){
    #root > header {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 1.7rem;
    }

    #root > header > nav {
        padding-top: 1.2rem;
    }

    #root > header > img {
        padding-top: 1.8rem;
    }
}